
body {
    font-family:'Lucida Grande','Lucida Sans Unicode' ,'Sans-Serif';
    font-style: normal;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
p.body-class {
    font-size: 15px;
}
p span.blue-bold {
    color:#2F2F81; 
    font-weight: bold;
}
p span.violet-bold {
    color:#603460;
    font-weight: bold;
}
p span.green-bold {
    color:#007300;
    font-weight: bold;
}

p span.comment{
    color: #A6A6A6;
}

.method {
    margin-left: 40px;
}
